{
    "runner": {
        "url": "",
        "repo": "",
        "token": "",
        "hash": ""
    },

    "vm_docker":{
        "node_count": 1,
        "ram": "4096",
        "cpus": "1",
        "image": "ubuntu/jammy64"
    },

    "vm_podman":{
        "node_count": 1,
        "ram": "1024",
        "cpus": "1",
        "image": "ubuntu/jammy64"
    }
}